asgiref==3.7.2
click==8.1.7
Django==5.0.2
django-cors-headers==4.3.1
django-multiselectfield==0.1.12
joblib==1.3.2
nltk==3.8.1
numpy==1.26.4
pillow==10.2.0
regex==2023.12.25
scikit-learn==1.2.2
scipy==1.12.0
sqlparse==0.4.4
threadpoolctl==3.2.0
tqdm==4.66.2
xlwt==1.3.0
